/*==========================================================================
	global
==========================================================================*/
/*--------------------------------------------------------------------------
	html
---------------------------------------------------------------------------*/
html{
	// height: 100%;
	overflow-y: scroll;
  font-size: 62.5%;
  line-height: 1;
	display: flex;
}


/*--------------------------------------------------------------------------
	body
---------------------------------------------------------------------------*/
body{
	// height: 100%;
	font-family: $FontYugo;
	font-size: 1.4rem;
	color: #333;
	line-height: 1.8;
	text-size-adjust: 100%;
}


/*--------------------------------------------------------------------------
	#PhotoList
--------------------------------------------------------------------------*/
#PhotoList{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	li{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0;
	}

	img{
		max-width: 100%;
	}
}
